

section.home.section

    nav.menu
    
        .menu__icon
            span
            span
            span
            span
        
        a.logo(href="#")
            img(src="images/logo.svg")

        .links.menu__links
            a.menu__links-item(href="#") case studies 
            a.menu__links-item(href="#") blog
            a.menu__links-item(href="#") contact us
    
    .main_text
        .line
        | Top JS and Mobile engineers
        br 
        | who scale your 
        span
            | product up
    img.ico_scroll_down(src="images/ico-scroll-down.svg")
    
    .blurry.blurry-1  
    .blurry.blurry-2
    .blurry.blurry-3
    .blurry.blurry-4
    .blurry.blurry-5
    .blurry.blurry-6
    
    