section.slider.section

    .clients-references
        .line-2
        span clients references
    
    
    #mixedSlider
      .MS-content
        .item
            .quote ‘’
            .item-flex
              .wrap-ava
                  .imgTitle
                    .avatar.ava-1
                  p.description
                    | TechMagic in partnership with Youteam for Tide and implemented mobile application components.    
              .name
                  p Matt Wilson
                  p // CTO AT Tide
              
        .item
            .quote ‘’
            .item-flex
              .wrap-ava
                  .imgTitle
                    .avatar.ava-2
                  p.description
                    | They delivered our product according to our specifications on time and on budget.   
              .name
                  p Ben Eddy
                  p // co-founder at Mobile Practice
              
        .item
            .quote ‘’
            .item-flex
              .wrap-ava
                  .imgTitle
                    .avatar.ava-3
                  p.description
                    | TechMagic is a strong partner who supports us along the various phases of our work together.
              .name
                  p JEFF WRIGHT
                  p // CTO AT Sqord
              
        .item
            .quote ‘’
            .item-flex
              .wrap-ava
                  .imgTitle
                    .avatar.ava-4
                  p.description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac tellus ex.
              .name
                      p Shia LaBeouf
                      p // Developer
                  
        .item
            .quote ‘’
            .item-flex
              .wrap-ava
                  .imgTitle
                    .avatar.ava-5
                  p.description
                    | Integer eu fringilla nisi. Donec id dapibus mauris, eget dignissim turpis
              .name
                      p Matt Damon
                      p // Recruiter
                  
      .MS-controls
        button.MS-left
          img(src='images/arrow-prev.svg', alt='arrow-prev')
        button.MS-right
          img(src='images/arrow-next.svg', alt='arrow-next')
