doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="description" content="test-task TechMagic")
    meta(name="keywords" content="test TechMagic")
    meta(name="author" content="Dmitriy Belkin")
    
    link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")
    
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='http://www.jqueryscript.net/css/jquerysctipttop.css', rel='stylesheet', type='text/css')
    link(href='http://www.jqueryscript.net/css/jquerysctipttop.css', rel='stylesheet', type='text/css')

    

    link(rel="stylesheet" href="css/main.css")
    title TechMagic - TEST
  body
        

    include sections/home
    include sections/slider
    
    
    
    script(src="http://code.jquery.com/jquery-1.9.1.js")
    

    script(type='text/javascript', src='libs/multislider/js/multislider.js')
    script(type='text/javascript', src='libs/scrollify-master/jquery.scrollify.js')
    

    script(src="js/main.min.js")