doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="description" content="test-task TechMagic")
    meta(name="keywords" content="test TechMagic")
    meta(name="author" content="Dmitriy Belkin")
    link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")
    link(rel="stylesheet" href="css/main.css")
    title TechMagic - TEST
    
  body
  
    include sections/home
    include sections/slider
    
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(type='text/javascript', src='libs/multislider/multislider.js')
    script(type='text/javascript', src='libs/scrollify-master/jquery.scrollify.js')
    script(src="js/main.min.js")