.slider {
    position: relative;
}

.clients-references {

    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 16vh;
    left: 17vw;

    @media (max-width: 1366px) {
        left: 7vw;
    }


    .line-2 {
        width: 60px;
        height: 2px;
        background-color: #aaaaaa;
        margin-right: 60px;
        display: inline-block;
        vertical-align: middle;

        @media (max-width: 399px) {
            margin-right: 10px;
        }
    }

    span {
        font-size: 14px;
        vertical-align: middle;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 4px;
        text-transform: uppercase;

        @media (max-width: 399px) {
            font-size: 10px;
        }
    }
}

#mixedSlider {
    position: relative;
    top: 33vh;
    max-width: 80vw;
    margin: 0 auto;
}

#mixedSlider .MS-content {
    white-space: nowrap;
    overflow: hidden;
    margin: 0 10%;
}

#mixedSlider .MS-content .item {
    display: inline-block;
    width: 33.3333%;
    height: auto;
    position: relative;
    vertical-align: top;
    overflow: hidden;
    height: 100%;
    white-space: normal;
    padding: 16px 10px;
    margin: 10px 0;

    .quote {
        font-size: 60px;
        font-weight: 900;
        opacity: 0.7;
        color: $color-border;
        position: absolute;
        top: 0;
        left: 10%;
    }
}

#mixedSlider .MS-content .item .item-flex {
    //min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 355px;
    margin: 0 auto;
}

@media (max-width: 991px) {
    #mixedSlider .MS-content .item {
        width: 50%;
    }
}

@media (max-width: 767px) {
    #mixedSlider .MS-content .item {
        width: 100%;
    }
}

#mixedSlider .MS-content .item .imgTitle {
    position: relative;
}

#mixedSlider .MS-content .item .imgTitle .ava-1 {
    min-height: 120px;
    background: url('../images/client@3x.png') center/contain no-repeat;

    @media (max-width: 1024px) {
        background: url('../images/client@2x.png') center/contain no-repeat;
    }
    @media (max-width: 450px) {
        background: url('../images/client.png') center/contain no-repeat;
    }
}

#mixedSlider .MS-content .item .imgTitle .ava-2 {
    min-height: 120px;
    background: url('../images/client-2@3x.png') center/contain no-repeat;

    @media (max-width: 1024px) {
        background: url('../images/client-2@2x.png') center/contain no-repeat;
    }
    @media (max-width: 450px) {
        background: url('../images/client-2.png') center/contain no-repeat;
    }
}

#mixedSlider .MS-content .item .imgTitle .ava-3 {
    min-height: 120px;
    background: url('../images/client-3@3x.png') center/contain no-repeat;

    @media (max-width: 1024px) {
        background: url('../images/client-3@2x.png') center/contain no-repeat;
    }
    @media (max-width: 450px) {
        background: url('../images/client-3.png') center/contain no-repeat;
    }
}

#mixedSlider .MS-content .item .imgTitle .ava-4 {
    min-height: 120px;
    background: url('../images/client-4@3x.png') center/contain no-repeat;
}

#mixedSlider .MS-content .item .imgTitle .ava-5 {
    min-height: 120px;
    background: url('../images/client-5@3x.png') center/contain no-repeat;
}


#mixedSlider .MS-content .item .imgTitle img {
    height: auto;
    width: 100%;
}

#mixedSlider .MS-content .item .description {
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    padding: 20px 36px;
    font-weight: normal;
    min-height: 83px;
}

#mixedSlider .MS-content .item .name {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid $color-border;
    font-weight: normal;
    text-transform: uppercase;

    p:nth-of-type(1) {
        color: $color-name;
        margin-bottom: 5px;
        font-weight: bold;
    }
}

#mixedSlider .MS-controls button {
    position: absolute;
    border: none;
    background-color: transparent;
    outline: 0;
    font-size: 50px;
    top: 75px;
    color: rgba(0, 0, 0, 0.4);
    transition: 0.15s linear;
}

#mixedSlider .MS-controls button:hover {
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
    #mixedSlider .MS-controls button img {}
}

@media (max-width: 767px) {
    #mixedSlider .MS-controls button img {}
}

#mixedSlider .MS-controls .MS-left {
    left: 0px;
}

@media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-left img {
        left: -10px;
        max-width: 20px;
    }
}

#mixedSlider .MS-controls .MS-right {
    right: 0px;
}

@media (max-width: 767px) {
    #mixedSlider .MS-controls .MS-right img {
        right: 10px;
        max-width: 20px;
    }
}